*.sfc
*.sw[a-p]
*.o
*.brr
*~
*.chrgb
*.chrsfc
/obj/snes/*.s
/obj/snes/*.wav
/zip.in
/map.txt
/spcmap.txt
/lorom-template.sfc
/lorom-template.spc
/lorom-template-*.zip
__pycache__/
*.pyc

# this is Super NES homebrew, not DSiWare
*.DS_Store



graphics.s
*.lnk
src/blockenum.s
src/blockdata.s
src/paletteenum.s
src/palettedata.s
src/actorenum.s
src/actordata.s
src/graphicsenum.s
*.driveupload
src/leveldata.s
*.dbg
tools/M7TilesetRearranged.png
tools/M7Tileset.chrm7
src/m7palettedata.s
*.hfm
Mesen-S.exe
src/overworldblockenum.s
src/overworldblockdata.s
src/overworlddata.s
src/levelenum.s
m7levels/*.bin
src/m7leveldata.s
src/portraitenum.s
src/portraitdata.s
