*.sfc
*.sw[a-p]
*.o
*.brr
*~
*.chrgb
*.chrsfc
*.chr
/obj/snes/*.s
/obj/snes/*.wav
/zip.in
/map.txt
/spcmap.txt
/lorom-template.sfc
/lorom-template.spc
/lorom-template-*.zip
__pycache__/
*.pyc

# this is Super NES homebrew, not DSiWare
*.DS_Store



graphics.s
*.lnk
src/blockenum.s
src/blockdata.s
src/paletteenum.s
src/palettedata.s
src/actorenum.s
src/actordata.s
src/graphicsenum.s
*.driveupload
src/leveldata.s
*.dbg
*.hfm
Mesen.exe
Mesen-S.exe
src/overworldblockenum.s
src/overworldblockdata.s
src/overworlddata.s
src/levelenum.s
src/portraitenum.s
src/portraitdata.s
src/namefontwidth.s
auto_linker.cfg
src/vwf_fontdata.s
story/vwf_fontdata.js
*.lz4
src/dialog_npc_enum.s
src/dialog_npc_data.s
src/dialog_text_data.s
src/itemdata.s
src/backgrounddata.s
src/backgroundenum.s
*.namsfc
src/itemenum.s
*.sym
audio/gss_enum.s
audio/gss_data.s
audio/brr/gssbrr.exe
hubworld/*.bin
hubworld/*.chrsfc
tools/lut/*.bin

m7levels/*.bin
src/mode7/m7palettedata.s
src/mode7/m7leveldata.s
src/mode7/m7blockenum.s
src/mode7/m7blockdata.s
src/mode7/perspective_data.s
tools/M7Tileset.chrm7

